<?xml version="1.0"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTodoAnnotatedTests="true"
	processIsolation="false"
	reverseDefectList="true"
>

	<testsuites>
		<testsuite name="enhanced-dependencies">
			<directory prefix="test-" suffix=".php">./tests/php/</directory>
		</testsuite>
	</testsuites>

	<coverage
		processUncoveredFiles="true"
	>

		<include>
			<directory suffix=".php">./dist</directory>
		</include>

		<exclude>
			<directory suffix=".php">./dist/query-monitor</directory>
		</exclude>

		<report>
			<html outputDirectory="tests/reports/php" />
		</report>

	</coverage>

</phpunit>
